$primaryColor: #000;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,a:hover,a:focus{
  text-decoration: none;
}

a.nav-link {
  color: #fff;
  opacity: 1;
}

.registration-section {
  h2 {
    text-align: center;
    margin-bottom: 30px;
  }
}

.error-section {
  h2{
    font-size: 72px;
    text-align: center;
    color: #eb1b33;
  }
}